<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FitnessPass</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <AuthorizeView>
                <NavLink class="nav-link" href="entry-tracking">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Entry tracking
                </NavLink>
                <NavLink class="nav-link" href="clients">
                    <span class="oi oi-people" aria-hidden="true"></span> Clients
                </NavLink>
                <NavLink class="nav-link" href="passes">
                    <span class="oi oi-credit-card" aria-hidden="true"></span> Passes
                </NavLink>
                <NavLink class="nav-link" href="entries">
                    <span class="oi oi-list" aria-hidden="true"></span> Entries
                </NavLink>
                <NavLink class="nav-link" href="fitness-rooms">
                    <span class="oi oi-home" aria-hidden="true"></span> Fitness Rooms
                </NavLink>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <hr />
                <NavLink class="nav-link" href="pass-types">
                    <span class="oi oi-tag" aria-hidden="true"></span> Pass Types
                </NavLink>
                <NavLink class="nav-link" href="employees">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Employees
                </NavLink>
            </AuthorizeView>
        </div>
        <div>
            <AuthorizeView>
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
